@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('./NotoSansKR/NotoSansKR-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url('./NotoSansKR/NotoSansKR-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('./NotoSansKR/NotoSansKR-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('./NotoSansKR/NotoSansKR-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('./NotoSansKR/NotoSansKR-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 600;
  src: url('./NotoSansKR/NotoSansKR-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('./NotoSansKR/NotoSansKR-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 800;
  src: url('./NotoSansKR/NotoSansKR-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url('./NotoSansKR/NotoSansKR-900.woff2') format('woff2');
}
